Repository nrwl/angular-rspack, pull requests merged in 2025-03, with the labels that each got.

#5 repo: setup cloud
  .github/workflows/pr-commitlint.yml
  nx.json
Labels: 📖 documentation, 🦾 CI/CD

#6 feat(angular-rspack): add withConfigurations
  packages/angular-rspack/package.json
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/tsconfig.spec.json
Labels: 📖 documentation, 🧪 testing, 🛠️ tooling

#9 feat(angular-rspack,angular-rsbuild): refactor withConfigurations to be createConfig
  apps/docs/package.json
  apps/docs/rsbuild.config.ts
  apps/docs/src/server.ts
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.app.tsbuildinfo
  apps/docs/tsconfig.json
  e2e/fixtures/rsbuild-csr-css/package.json
  e2e/fixtures/rsbuild-csr-css/rsbuild.config.ts
  e2e/fixtures/rsbuild-csr-css/tsconfig.app.json
  e2e/fixtures/rsbuild-csr-css/tsconfig.json
  e2e/fixtures/rsbuild-csr-less/package.json
  e2e/fixtures/rsbuild-csr-less/rsbuild.config.ts
  e2e/fixtures/rsbuild-csr-less/tsconfig.app.json
  e2e/fixtures/rsbuild-csr-less/tsconfig.json
  e2e/fixtures/rsbuild-csr-scss/package.json
  e2e/fixtures/rsbuild-csr-scss/rsbuild.config.ts
  e2e/fixtures/rsbuild-csr-scss/tsconfig.app.json
  e2e/fixtures/rsbuild-csr-scss/tsconfig.json
  e2e/fixtures/rsbuild-ssr-css/package.json
  e2e/fixtures/rsbuild-ssr-css/rsbuild.config.ts
  e2e/fixtures/rsbuild-ssr-css/src/server.ts
  e2e/fixtures/rsbuild-ssr-css/tsconfig.app.json
  e2e/fixtures/rsbuild-ssr-css/tsconfig.json
  e2e/fixtures/rspack-csr-css/package.json
  e2e/fixtures/rspack-csr-css/rspack.config.js
  e2e/fixtures/rspack-csr-css/tsconfig.app.json
  e2e/fixtures/rspack-csr-css/tsconfig.json
  e2e/fixtures/rspack-ssr-css/package.json
  e2e/fixtures/rspack-ssr-css/rspack.config.js
  e2e/fixtures/rspack-ssr-css/src/server.ts
  e2e/fixtures/rspack-ssr-css/tsconfig.app.json
  e2e/fixtures/rspack-ssr-css/tsconfig.json
  e2e/rsbuild-csr-css-e2e/tsconfig.json
  e2e/rsbuild-csr-less-e2e/tsconfig.json
  e2e/rsbuild-csr-scss-e2e/tsconfig.json
  e2e/rsbuild-ssr-css-e2e/tsconfig.json
  packages/angular-rsbuild/src/index.ts
  packages/angular-rsbuild/src/lib/config/create-config.integration.test.ts
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  pnpm-lock.yaml
Labels: 📖 documentation, 🧪 testing, 🛠️ tooling

#13 feat(angular-rspack,angular-rsbuild): rename tsconfigPath to tsConfig
  e2e/fixtures/rspack-csr-css/rspack.config.js
  packages/angular-rsbuild/src/lib/config/create-config.integration.test.ts
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
  packages/angular-rspack-compiler/src/compilation/setup-compilation.integration.test.ts
  packages/angular-rspack-compiler/src/compilation/setup-compilation.ts
  packages/angular-rspack-compiler/src/compilation/setup-compilation.unit.test.ts
  packages/angular-rspack-compiler/src/compilation/setup-with-paralell-compilation.ts
  packages/angular-rspack-compiler/src/compilation/setup-with-paralell-compilation.unit.test.ts
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/plugins/angular-rspack-plugin.ts
Labels: 📖 documentation, 🧪 testing

#14 feat(angular-rspack,angular-rsbuild): rename inlineStylesExtension to inlineStyleLanguage
  apps/docs/rsbuild.config.ts
  packages/angular-rsbuild/src/lib/config/create-config.integration.test.ts
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
  packages/angular-rspack-compiler/src/compilation/augments.ts
  packages/angular-rspack-compiler/src/compilation/setup-compilation.integration.test.ts
  packages/angular-rspack-compiler/src/compilation/setup-compilation.ts
  packages/angular-rspack-compiler/src/compilation/setup-compilation.unit.test.ts
  packages/angular-rspack-compiler/src/compilation/setup-with-paralell-compilation.unit.test.ts
  packages/angular-rspack-compiler/src/models/index.ts
  packages/angular-rspack-compiler/src/models/inline-style-extension.ts
  packages/angular-rspack-compiler/src/models/inline-style-language.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/plugins/angular-rspack-plugin.ts
Labels: 📖 documentation, 🧪 testing

#16 feat(angular-rspack,angular-rsbuild): support passing devServer options
  e2e/fixtures/rsbuild-csr-less/rsbuild.config.ts
  e2e/fixtures/rspack-csr-css/rspack.config.js
  e2e/rsbuild-csr-less-e2e/playwright.config.ts
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/config/create-config.unit.test.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
Labels: 📖 documentation, 🧪 testing

#19 ci: adjust docs labling
  .github/labeler.yml
Labels: 📖 documentation, 🦾 CI/CD

#21 feat(angular-rspack,angular-rsbuild): add optimization option
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
Labels: 📖 documentation, 🧪 testing

#20 feat(angular-rspack,angular-rsbuild): rename ssrEntry to ssr.entry
  apps/docs/rsbuild.config.ts
  e2e/fixtures/rsbuild-ssr-css/rsbuild.config.ts
  e2e/fixtures/rspack-ssr-css/rspack.config.js
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/config/create-config.unit.test.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.unit.test.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
Labels: 📖 documentation, 🧪 testing

#22 feat(angular-rspack,angular-rsbuild): add outputHashing option
  e2e/fixtures/rspack-csr-css/rspack.config.js
  packages/angular-rsbuild/src/lib/config/__snapshots__/create-config.csr.ts
  packages/angular-rsbuild/src/lib/config/__snapshots__/create-config.ssr.ts
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/config/helpers.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/config/helpers.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
Labels: 🧪 testing

#26 feat(angular-rspack,angular-rsbuild): turn on/off advanced optimizations based on provided options
  packages/angular-rsbuild/src/lib/config/create-config.unit.test.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.unit.test.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
  packages/angular-rsbuild/src/lib/plugin/plugin-angular.ts
  packages/angular-rsbuild/src/lib/plugin/plugin-hoisted-js-transformer.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/plugins/angular-rspack-plugin.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
Labels: 📖 documentation, 🧪 testing

#23 feat(angular-rspack,angular-rsbuild): remove root from api
  e2e/fixtures/rspack-csr-css/rspack.config.js
  packages/angular-rsbuild/src/lib/config/create-config.integration.test.ts
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/config/create-config.unit.test.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.unit.test.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
  packages/angular-rsbuild/src/lib/plugin/plugin-hoisted-js-transformer.ts
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/plugins/angular-rspack-plugin.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
Labels: 📖 documentation, 🧪 testing

#27 feat(angular-rspack,angular-rsbuild): add outputPath option
  .gitignore
  e2e/fixtures/rsbuild-csr-css/rsbuild.config.ts
  e2e/fixtures/rspack-csr-css/rspack.config.js
  packages/angular-rsbuild/src/lib/config/__snapshots__/create-config.csr.ts
  packages/angular-rsbuild/src/lib/config/create-config.integration.test.ts
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/config/create-config.unit.test.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.unit.test.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/plugins/angular-ssr-dev-server.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
Labels: 🧪 testing

#28 feat(angular-rspack): support expanded syntax for `assets`, `styles`, and `scripts`
  e2e/fixtures/rspack-csr-css/rspack.config.js
  e2e/fixtures/rspack-ssr-css/rspack.config.js
  eslint.config.js
  packages/angular-rspack/eslint.next.config.js
  packages/angular-rspack/package.json
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
  pnpm-lock.yaml
Labels: 📖 documentation, 🧪 testing, 🛠️ tooling

#30 feat(angular-rspack): support `extractLicenses` option
  e2e/fixtures/rspack-csr-css/rspack.config.js
  packages/angular-rspack/package.json
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
  pnpm-lock.yaml
Labels: 📖 documentation, 🧪 testing

#29 feat(angular-rspack,angular-rsbuild): add sourcemap option
  e2e/fixtures/rsbuild-csr-css/eslint.next.config.js
  e2e/fixtures/rspack-csr-css/rspack.config.js
  e2e/fixtures/rspack-csr-css/src/styles.css
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/config/create-config.unit.test.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.unit.test.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
  packages/angular-rsbuild/src/lib/plugin/plugin-hoisted-js-transformer.ts
  packages/angular-rspack/package.json
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/config/style-config-utils.ts
  packages/angular-rspack/src/lib/config/style-config-utils.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/plugins/angular-rspack-plugin.ts
  packages/angular-rspack/src/lib/plugins/tools/dev-tools-ignore-plugin.ts
  pnpm-lock.yaml
Labels: 📖 documentation, 🧪 testing

#32 fix(angular-rspack): sass-loader should not be required when using css
  package.json
  packages/angular-rspack/eslint.next.config.js
  packages/angular-rspack/package.json
  packages/angular-rspack/src/lib/config/style-config-utils.ts
  packages/angular-rspack/src/lib/config/style-config-utils.unit.test.ts
  pnpm-lock.yaml
Labels: 📖 documentation, 🧪 testing

#33 feat(angular-rspack,angular-rsbuild): add `root` option and improve `tsConfig` handling
  e2e/fixtures/rspack-csr-css/rspack.config.js
  eslint.config.js
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.unit.test.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
  packages/angular-rsbuild/src/lib/plugin/plugin-hoisted-js-transformer.ts
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/plugins/angular-rspack-plugin.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
Labels: 📖 documentation, 🧪 testing, 🛠️ tooling

#34 fix(angular-rspack): dev-server works for ssr
  e2e/fixtures/rspack-ssr-css/rspack.config.js
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/plugins/angular-ssr-dev-server.ts
Labels: 📖 documentation, 🧪 testing

#35 feat(angular-rspack): improve createConfig public api
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
Labels: 📖 documentation, 🧪 testing

#36 refactor(angular-rspack): inline helpers from `nx` package
  packages/angular-rspack/eslint.next.config.js
  packages/angular-rspack/src/lib/models/normalize-options.ts
Labels: 📖 documentation

#37 chore(repo): add release pipeline
  .github/workflows/release.yml
  nx.json
  package.json
  packages/angular-rsbuild/.npmignore
  packages/angular-rsbuild/package.json
  packages/angular-rspack-compiler/.npmignore
  packages/angular-rspack-compiler/package.json
  packages/angular-rspack/.npmignore
  packages/angular-rspack/package.json
  packages/build/package.json
  packages/compiler/package.json
  packages/rsbuild-plugin-angular/package.json
  pnpm-lock.yaml
  tools/scripts/release.ts
Labels: 📖 documentation, 🛠️ tooling, 🦾 CI/CD

#17 test(angular-rspack): add unit tests for angular loader
  packages/angular-rspack/src/lib/models/augmented-compilation.ts
  packages/angular-rspack/src/lib/plugins/loaders/angular-transform.loader.ts
  packages/angular-rspack/src/lib/plugins/loaders/angular-transform.loader.unit.test.ts
Labels: 🧪 testing

#38 feat(angular-rspack): support `host` option for the dev server
  e2e/fixtures/rspack-csr-css/rspack.config.js
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
Labels: 📖 documentation, 🧪 testing

#39 fix(angular-rspack): fix assets normalization
  packages/angular-rspack/src/lib/models/normalize-options.ts
Labels: 📖 documentation

#40 fix(angular-rspack): process styles correctly handling urls
  e2e/fixtures/rspack-csr-css/rspack.config.js
  e2e/fixtures/rspack-csr-css/src/app/app.component.html
  e2e/fixtures/shared/assets/src/assets/icons/github.png
  e2e/fixtures/shared/styles/src/index.scss
  e2e/fixtures/shared/styles/src/lib/global.scss
  package.json
  packages/angular-rspack/package.json
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/style-config-utils.ts
  packages/angular-rspack/src/lib/config/style-config-utils.unit.test.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
  pnpm-lock.yaml
Labels: 📖 documentation, 🧪 testing

#41 fix(angular-rspack): stylesheet should be attached to html
  packages/angular-rspack/src/lib/config/style-config-utils.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
Labels: 📖 documentation
