Repository nrwl/angular-rspack, pull requests merged in 2025-05, with the labels that each got.

#66 chore(repo): migrate to latest nx beta
  nx.json
  package.json
  pnpm-lock.yaml
Labels: 📖 documentation

#65 feat(angular-rspack): support static site generation
  e2e/fixtures/rspack-ssg-css/eslint.next.config.js
  e2e/fixtures/rspack-ssg-css/package.json
  e2e/fixtures/rspack-ssg-css/public/favicon.ico
  e2e/fixtures/rspack-ssg-css/rspack.config.js
  e2e/fixtures/rspack-ssg-css/src/app/app.component.css
  e2e/fixtures/rspack-ssg-css/src/app/app.component.html
  e2e/fixtures/rspack-ssg-css/src/app/app.component.ts
  e2e/fixtures/rspack-ssg-css/src/app/app.config.server.ts
  e2e/fixtures/rspack-ssg-css/src/app/app.config.ts
  e2e/fixtures/rspack-ssg-css/src/app/app.routes.ts
  e2e/fixtures/rspack-ssg-css/src/app/bar/bar.component.ts
  e2e/fixtures/rspack-ssg-css/src/app/foo.component.ts
  e2e/fixtures/rspack-ssg-css/src/app/nested/child-a/child-a.component.ts
  e2e/fixtures/rspack-ssg-css/src/app/nested/child-b/child-b.component.ts
  e2e/fixtures/rspack-ssg-css/src/app/nested/nested.component.ts
  e2e/fixtures/rspack-ssg-css/src/app/nested/nested.routes.ts
  e2e/fixtures/rspack-ssg-css/src/app/nx-welcome.component.ts
  e2e/fixtures/rspack-ssg-css/src/index.html
  e2e/fixtures/rspack-ssg-css/src/main.server.ts
  e2e/fixtures/rspack-ssg-css/src/main.ts
  e2e/fixtures/rspack-ssg-css/src/server.ts
  e2e/fixtures/rspack-ssg-css/src/styles.css
  e2e/fixtures/rspack-ssg-css/tsconfig.app.json
  e2e/fixtures/rspack-ssg-css/tsconfig.editor.json
  e2e/fixtures/rspack-ssg-css/tsconfig.json
  package.json
  packages/angular-rspack/package.json
  packages/angular-rspack/src/lib/config/config-utils/browser-config.ts
  packages/angular-rspack/src/lib/config/config-utils/common-config.ts
  packages/angular-rspack/src/lib/config/config-utils/optimization-config.ts
  packages/angular-rspack/src/lib/config/config-utils/server-config.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
  packages/angular-rspack/src/lib/plugins/angular-rspack-plugin.ts
  packages/angular-rspack/src/lib/plugins/index-html-plugin.ts
  packages/angular-rspack/src/lib/plugins/loaders/platform-server-exports.loader.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
  packages/angular-rspack/src/lib/plugins/prerender-plugin.ts
  packages/angular-rspack/src/lib/plugins/tools/render-worker.ts
  packages/angular-rspack/src/lib/plugins/tools/routes-extractor-worker.ts
  packages/angular-rspack/src/lib/plugins/tools/worker-pool.ts
  packages/angular-rspack/src/lib/utils/index-file/get-index-output-file.ts
  packages/angular-rspack/src/lib/utils/max-workers.ts
  pnpm-lock.yaml
Labels: 📖 documentation, 🧪 testing, 🛠️ tooling

#71 feat(angular-rspack): add support for more devServer options
  packages/angular-rspack/src/lib/config/config-utils/browser-config.ts
  packages/angular-rspack/src/lib/config/config-utils/common-config.ts
  packages/angular-rspack/src/lib/config/config-utils/dev-server-config-utils.ts
  packages/angular-rspack/src/lib/config/config-utils/server-config.ts
  packages/angular-rspack/src/lib/config/create-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
Labels: 📖 documentation, 🧪 testing

#73 fix(angular-rspack): update the minimum supported version of `@rspack/core`
  packages/angular-rspack/package.json
  pnpm-lock.yaml
Labels: 📖 documentation

#74 chore(repo): update nx to 21.0.0
  package.json
  packages/angular-rspack/package.json
  pnpm-lock.yaml
Labels: 📖 documentation

#77 feat(angular-rspack,angular-rspack-compiler): reuse existing compilation if exists
  e2e/fixtures/rspack-csr-css/src/app/app.component.css
  e2e/fixtures/rspack-csr-css/src/app/app.component.html
  e2e/fixtures/rspack-csr-scss/src/app/app.component.html
  e2e/fixtures/rspack-csr-scss/src/app/app.component.scss
  packages/angular-rsbuild/src/lib/plugin/plugin-hoisted-js-transformer.ts
  packages/angular-rspack-compiler/patch/patch-angular-build.js
  packages/angular-rspack-compiler/src/compilation/build-and-analyze.ts
  packages/angular-rspack-compiler/src/compilation/index.ts
  packages/angular-rspack-compiler/src/compilation/setup-compilation.ts
  packages/angular-rspack-compiler/src/compilation/setup-compilation.unit.test.ts
  packages/angular-rspack-compiler/src/compilation/setup-with-angular-compilation.ts
  packages/angular-rspack-compiler/src/compilation/setup-with-angular-compilation.unit.test.ts
  packages/angular-rspack-compiler/src/models/index.ts
  packages/angular-rspack/src/lib/models/augmented-compilation.ts
  packages/angular-rspack/src/lib/plugins/angular-rspack-plugin.ts
  packages/angular-rspack/src/lib/plugins/loaders/angular-partial-transform.loader.ts
Labels: 📖 documentation, 🧪 testing

#79 feat(angular-rspack): add statsJson plugin
  e2e/fixtures/rspack-csr-scss/rspack.config.js
  packages/angular-rspack/package.json
  packages/angular-rspack/src/lib/config/config-utils/common-config.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
  packages/angular-rspack/src/lib/plugins/stats-json-plugin.ts
  pnpm-lock.yaml
Labels: 📖 documentation, 🧪 testing

#80 feat(angular-rspack): add poll option
  packages/angular-rspack/src/lib/config/config-utils/common-config.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
Labels: 📖 documentation

#81 fix(angular-rspack): remove options that do not exist in Angular Webpack
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
Labels: 📖 documentation, 🧪 testing

#82 feat(angular-rspack): add verbose option
  e2e/fixtures/rspack-ssr-css/rspack.config.js
  packages/angular-rspack/src/lib/config/config-utils/common-config.ts
  packages/angular-rspack/src/lib/config/config-utils/get-stats-options.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
  packages/angular-rspack/src/lib/plugins/watch-file-logs-plugin.ts
Labels: 📖 documentation, 🧪 testing

#83 feat(angular-rspack): add progress option
  packages/angular-rspack/package.json
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
  packages/angular-rspack/src/lib/plugins/progress-plugin.ts
  packages/angular-rspack/src/lib/utils/color.ts
  packages/angular-rspack/src/lib/utils/spinner.ts
  packages/angular-rspack/src/lib/utils/tty.ts
  pnpm-lock.yaml
Labels: 📖 documentation

#84 feat(angular-rspack): add watch option
  e2e/fixtures/rspack-csr-css/rspack.config.js
  packages/angular-rspack/src/lib/config/config-utils/common-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
  packages/angular-rspack/src/lib/utils/index-file/get-index-input-file.ts
Labels: 📖 documentation, 🧪 testing

#85 feat(angular-rspack): add open option
  e2e/fixtures/rspack-csr-css/rspack.config.js
  packages/angular-rspack/package.json
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
  packages/angular-rspack/src/lib/plugins/ng-rspack.ts
  pnpm-lock.yaml
Labels: 📖 documentation, 🧪 testing

#86 feat(angular-rspack): finalize devServer options
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
Labels: 📖 documentation

#92 feat(angular-rspack): add budgets support
  e2e/fixtures/rspack-csr-css/rspack.config.js
  packages/angular-rspack/src/lib/config/config-utils/common-config.ts
  packages/angular-rspack/src/lib/config/config-utils/optimization-config.ts
  packages/angular-rspack/src/lib/config/config-utils/style-config-utils.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
  packages/angular-rspack/src/lib/plugins/angular-rspack-plugin.ts
  packages/angular-rspack/src/lib/plugins/any-component-style-budget-checker-plugin.ts
  packages/angular-rspack/src/lib/plugins/i18n-inline-plugin.ts
  packages/angular-rspack/src/lib/plugins/suppress-js-for-css-chunks-plugin.ts
  packages/angular-rspack/src/lib/plugins/tools/dev-tools-ignore-plugin.ts
  packages/angular-rspack/src/lib/plugins/transfer-size-plugin.ts
  packages/angular-rspack/src/lib/utils/async-chunks.ts
  packages/angular-rspack/src/lib/utils/misc-helpers.ts
  packages/angular-rspack/src/lib/utils/rspack-diagnostics.ts
  packages/angular-rspack/src/lib/utils/stats.ts
Labels: 📖 documentation, 🧪 testing

#93 feat(angular-rspack): add appShell option
  e2e/fixtures/rspack-appshell-css/eslint.next.config.js
  e2e/fixtures/rspack-appshell-css/package.json
  e2e/fixtures/rspack-appshell-css/public/favicon.ico
  e2e/fixtures/rspack-appshell-css/rspack.config.js
  e2e/fixtures/rspack-appshell-css/src/app/app.component.css
  e2e/fixtures/rspack-appshell-css/src/app/app.component.html
  e2e/fixtures/rspack-appshell-css/src/app/app.component.ts
  e2e/fixtures/rspack-appshell-css/src/app/app.config.server.ts
  e2e/fixtures/rspack-appshell-css/src/app/app.config.ts
  e2e/fixtures/rspack-appshell-css/src/app/app.routes.ts
  e2e/fixtures/rspack-appshell-css/src/app/bar/bar.component.ts
  e2e/fixtures/rspack-appshell-css/src/app/foo.component.ts
  e2e/fixtures/rspack-appshell-css/src/app/nested/child-a/child-a.component.ts
  e2e/fixtures/rspack-appshell-css/src/app/nested/child-b/child-b.component.ts
  e2e/fixtures/rspack-appshell-css/src/app/nested/nested.component.ts
  e2e/fixtures/rspack-appshell-css/src/app/nested/nested.routes.ts
  e2e/fixtures/rspack-appshell-css/src/app/nx-welcome.component.ts
  e2e/fixtures/rspack-appshell-css/src/index.html
  e2e/fixtures/rspack-appshell-css/src/main.server.ts
  e2e/fixtures/rspack-appshell-css/src/main.ts
  e2e/fixtures/rspack-appshell-css/src/server.ts
  e2e/fixtures/rspack-appshell-css/src/styles.css
  e2e/fixtures/rspack-appshell-css/tsconfig.app.json
  e2e/fixtures/rspack-appshell-css/tsconfig.editor.json
  e2e/fixtures/rspack-appshell-css/tsconfig.json
  packages/angular-rspack/src/lib/config/config-utils/server-config.ts
  packages/angular-rspack/src/lib/config/create-config.unit.test.ts
  packages/angular-rspack/src/lib/models/angular-rspack-plugin-options.ts
  packages/angular-rspack/src/lib/models/normalize-options.ts
  packages/angular-rspack/src/lib/models/unsupported-options.ts
  packages/angular-rspack/src/lib/plugins/prerender-plugin.ts
  pnpm-lock.yaml
Labels: 📖 documentation, 🧪 testing, 🛠️ tooling

#87 fix(angular-rspack,angular-rspack-compiler): surface errors from ComponentStylesheetResult ensuring sass andincludePaths are passed
  packages/angular-rspack-compiler/src/compilation/setup-compilation.ts
  packages/angular-rspack/src/lib/plugins/angular-rspack-plugin.ts
Labels: 📖 documentation

#94 test(angular-rsbuild): unit test style plugins
  packages/angular-rsbuild/src/lib/config/create-config.ts
  packages/angular-rsbuild/src/lib/config/styles-utils.ts
  packages/angular-rsbuild/src/lib/config/styles-utils.unit.test.ts
  packages/angular-rsbuild/src/lib/models/normalize-options.ts
  packages/angular-rsbuild/src/lib/models/plugin-options.ts
Labels: 📖 documentation, 🧪 testing

#98 fix(angular-rspack): ensure cjs for serve
  package.json
  packages/angular-rspack/src/lib/config/config-utils/browser-config.ts
  packages/angular-rspack/src/lib/config/config-utils/common-config.ts
  pnpm-lock.yaml
Labels: 📖 documentation
